
name: filesync

services:
  filesync-server:
    container_name: filesync
    image: filesync-image:latest
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - APP_CMD=/app/scripts/entrypoint.sh
    volumes:
      - ${FILESYNC_DIR}/data:/data
      - ${FILESYNC_DIR}/config:/config
      - ${FILESYNC_DIR}/usr:/mnt/usr
      - /mnt/nas/files:/mnt/usr/files
      - /mnt/nas/project:/mnt/usr/project
      - /mnt/nas/images:/mnt/usr/images
      - /mnt/nas/photos:/mnt/usr/photos
      - /mnt/nas/films:/mnt/usr/films
      - ${DOWNLOADS_DIR}:/mnt/usr/downloads
      - ${MOUNT_PROBES_DIR}:/var/run/mount-probes:ro
      - ${MOUNT_SCRIPTS}:/usr/local/bin/wait-for-mount.sh:ro
      - ${ENTRYPOINT_SCRIPTS}:/usr/local/bin/entrypoint-mount.sh:ro
    env_file:
      - .env
    entrypoint: ["/usr/local/bin/entrypoint-mount.sh", "run"]
    ports:
      - '22000:22000/tcp'   # 文件传输端口映射（TCP）
      - '22000:22000/udp'   # 文件传输端口映射（UDP）
      - '21027:21027/udp'   # 设备发现端口映射（UDP）
    hostname: filesync
    networks:
      - local_network
    restart: unless-stopped
    
networks:
  local_network:
    external: true
