# https://github.com/immich-app/immich/releases/latest/download/docker-compose.yml

name: immich

services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    extends:
      file: hwaccel.transcoding.yml
      service: quicksync    # [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl]
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DATA_PATH}/server:/data
      - ${UPLOAD_PATH}:/usr/src/app/upload
      - ${RES_GEODATA_PATH}:/build/geodata
      - ${RES_COUNTRIES_PATH}/langs:/usr/src/app/node_modules/i18n-iso-countries/langs
      - nas-images:/usr/src/app/external/images:ro
      - nas-photos:/usr/src/app/external/photos:ro
    env_file:
      - .env
    ports:
      - 2283:2283
    depends_on:
      - redis
      - database
    healthcheck:
      disable: false
    networks:
      - immich
    restart: always

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}-openvino
    extends:
      file: hwaccel.ml.yml
      service: openvino     # [armnn, cuda, openvino, openvino-wsl]
    volumes:
      - ${MODEL_CACHE_PATH}:/cache
    env_file:
      - .env
    healthcheck:
      disable: false
    networks:
      - immich
    restart: always

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:8@sha256:81db6d39e1bba3b3ff32bd3a1b19a6d69690f94a3954ec131277b9a26b95b3aa
    volumes:
      - ${DATA_PATH}/redis:/data
    healthcheck:
      test: redis-cli ping || exit 1  
    networks:
      - immich
    restart: always

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ${DATA_PATH}/postgres:/var/lib/postgresql/data
    shm_size: 128mb
    networks:
      - immich
    restart: always
    
networks:
  immich:
    name: immich
    driver: bridge
    
volumes:
  nas-images:
    external: true
  nas-photos:
    external: true