name: immich

services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    extends:
      file: hwaccel.transcoding.yml
      service: quicksync            # [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl]
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${IMMICH_DIR}/data/server:/data
      - /mnt/nas/images:/usr/src/app/external/images:ro
      - /mnt/nas/photos:/usr/src/app/external/photos:ro
      - ${UPLOAD_PATH}:/usr/src/app/upload
      - ${RES_GEODATA_PATH}:/build/geodata
      - ${RES_COUNTRIES_PATH}/langs:/usr/src/app/node_modules/i18n-iso-countries/langs
    env_file:
      - .env
    ports:
      - 2283:2283
    depends_on:
      - redis
      - database
    networks:
      - immich
    restart: always
    healthcheck:
      disable: false

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}-openvino
    extends:
      file: hwaccel.ml.yml
      service: openvino             # [armnn, cuda, openvino, openvino-wsl]
    volumes:
      - ${MODEL_CACHE_PATH}:/cache
    env_file:
      - .env
    networks:
      - immich
    restart: always
    healthcheck:
      disable: false

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:9@sha256:546304417feac0874c3dd576e0952c6bb8f06bb4093ea0c9ca303c73cf458f63
    volumes:
      - ${IMMICH_DIR}/data/redis:/data
    networks:
      - immich
    healthcheck:
      test: redis-cli ping || exit 1 
    restart: always

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - ${IMMICH_DIR}/data/postgres:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    shm_size: 128mb
    networks:
      - immich
    restart: always
    
networks:
  immich:
    name: immich
    driver: bridge
